# this file contains example secrets excluded from version control (.env in .gitignore)!
# mv to .env
# generated like: grep -hPo "(?<=os.getenv\(')\w+" *.py|sort -u

## REDCAP - access to incidental finding instruments
# api endpoint with trailing slash
REDCAP_URL=https://redcap.place.edu/api/
# used like redcap.Project(os.getenv('REDCAP_URL'), os.getenv('REDCAP_TOKEN'))
REDCAP_TOKEN=blah-blah-generated-from-project-specific-api-sidebar-link


## XNAT - custom forum syncing
# used with pyxnat.Interface; requests.Session().auth
XNAT_URL=https://xant.place.edu
XNAT_USER=myuser
XNAT_PASS=hunter2

# custom form identifiers
# used for PUT on 'xapi/custom-fields/projects/'
XNAT_FORM_UUID=
XNAT_SUBJECT_FORM_UUID=

## MISC
# used to get example data
FW_API_KEY=blah-blah-generated-from-flywheel-profile-page-webui

# used in coding experiments for convenience
XNAT_PROJECT=
